.header {
  height: 60px;
  display: flex;
  align-items: center;
  background: #131921;
  position: sticky;
  top: 0;
  z-index: 100;
  transition: all 0.5s ease-out;
  box-shadow: 0 1px 2px rgba(19, 25, 33, 0.5), 0 1px 4px rgba(19, 25, 33, 0.5),
    0 2px 8px rgba(19, 25, 33, 0.5);
}

.header_logo {
  width: 100px;
  object-fit: contain;
  margin: 0 20px;
  margin-top: 18px;
}

.header_search {
  display: flex;
  flex: 1;
  align-items: center;
  /* border-radius: 24px; */
}

.header_searchInput {
  height: 12px;
  padding: 10px;
  border: none;
  border-radius: 5px 0 0 5px;
  width: 100%;
  outline-width: 0;
}

.header_searchIcon {
  padding: 5px;
  border-radius: 0 5px 5px 0;
  height: 22px !important;
  background-color: #cd9042;
  cursor: pointer;
}

.header_nav {
  display: flex;
  justify-content: space-evenly;
}

.header_option {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  color: #fff;
}

.header_lineOne {
  font-size: 10px;
}

.header_lineTwo {
  font-size: 13px;
  font-weight: 800;
}

.header_optionBasket {
  display: flex;
  align-items: center;
  color: #fff;
}

.header_basketCount {
  margin: 0 10px;
}

.link {
  text-decoration: none;
}

.burger {
  display: none;
  position: absolute;
  cursor: pointer;
  top: 15px;
  left: 2%;
}

.line {
  width: 28px;
  height: 3px;
  background: #fff;
  margin: 5px 3px;
  border-radius: 4px;
  transition: all 0.5s ease-in-out;
}

.first-line {
  transform: translateY(9px) rotate(135deg);
}

.third-line {
  transform: translateY(-9px) rotate(-135deg);
}

.hidden {
  transform: scale(0);
}

@media only screen and (max-width: 1300px) {
  .header {
    flex-direction: column;
    align-items: flex-start;
    height: 300px;
  }

  .burger {
    display: block;
  }

  .home_link {
    margin-left: 40px;
  }

  .header_optionBasket {
    position: absolute;
    top: 15px;
    right: 1%;
  }

  .header_search {
    width: 93%;
    margin: 5px 4%;
    flex: 0;
  }

  .header_nav {
    flex-direction: column;
    align-items: center;
    flex: 1;
    justify-content: space-evenly;
    width: 100%;
  }

  .header_option {
    flex-direction: row;
    margin: 0 10px;
  }

  .header_lineOne {
    font-size: 13px;
    font-weight: 800;
    margin-right: 10px;
  }

  .h_nav {
    height: 100px;
  }

  .visibility {
    opacity: 0;
  }
}
